<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6b9c02bb4a.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <title>COOKIEDEMIA | Productos |</title>
</head>

<body class="bodyProducto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="../Imagenes/logosinbgmini.png" alt="">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="nosotros.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="galeria.html">Galeria</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="productos.html">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="contacto.html">Contacto</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>

    <div class="row">
      <div class="colNosotros">
        <h2>Productos</h2>
      </div> 
    </div>
  
  <div class="container--p">

    <div class="container--p__card">
      <img src="https://via.placeholder.com/400"> <!-- cargar imagenes actualizadas -->
      <h4>Cookies</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit!</p>
      <a href="#">Leer más</a>
    </div>

    <div class="container--p__card">
      <img src="https://via.placeholder.com/400">
      <h4>Pochoclos Dulce de Leche</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit!</p>
      <a href="#">Leer más</a>
    </div>

    <div class="container--p__card">
      <img src="https://via.placeholder.com/400">
      <h4>Cajas Dulces</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit!</p>
      <a href="#">Leer más</a>
    </div>

</div>

<footer class="footer">
    <ul>
        <li><a href="https://www.instagram.com/cookiedemia/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href=""><i class="fab fa-facebook-square"></i></a></i></li><!-- pendiente link -->
        <li><a href=""><i class="fab fa-whatsapp"></i></a></div></li><!-- penditente link -->
    </ul>
    <div class="footer__disclaimer">
        <address>Buenos Aires. Cookiedemia - All rights reserved.</address>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>